*{
	padding: 0;
	margin: 0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
    border: 0;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.wrap{
	width: 1280px;
	margin: 0 auto;
}