#header{
	width: 100%;
	height: 58px;
	position: relative;
	background: #2189bf;
}
#header img{
	position: absolute;
	margin-top: 13px;
	margin-left: 70px;
}
#header input{
	width: 260px;
	height: 28px;
	border-radius: 25px;
	position: absolute;
	margin-top: 13px;
	margin-left: 68%;
}
#login{
	position: absolute;
	margin-left: 87%;
	width: 150px;
	height: 50px;
	background: url(../image/login.png) no-repeat;
	background-position: 0px 22px;
}
#login a{
	position: absolute;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
	margin-top: 21px;
	margin-left: 13%;
}
#content{
	height: 1211px;
}
#left{
	height: 1211px;
	width: 260px;
	float: left;
	position: relative;
	background: #2a2e3d;
}
#left p{
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	margin-top: 40px;
	margin-left: 120px;
}
#left img{
	width: 60px;
	height: 60px;
	position: absolute;
	margin-top: 20px;
	margin-left: 35px;
	border-radius: 60px;
}
#left .introudce{
    width: 260px;
	height: 152px;
}
#left .introudce .restore{
    width: 50px;
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 15px;
    color: #ffffff;;
   /* background: blue;*/
}
#left .introudce .fenSi{
	width: 50px;
	position: absolute;
	margin-top: 100px;
	margin-left: 140px;
	font-size: 15px;
    color: #ffffff;
	/*background: pink;*/

}
#list{
    width: 200px;
    /*background: red;*/
	position: absolute;
	margin-top: 20px;
	margin-left: 50px;
}
#list .list-more li a{
	height: 30px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	line-height: 30px;
}
#list .list-more .ul-lv2 {
    padding-left: -100px; }
#list .list-more .list-lv2 {
    line-height: 12px;
    padding-bottom: 12px;
    color: #6e8095;
    padding-left: 18px;
    background: url(../image/pre.png) no-repeat left top; 

}
#list .list-more .list-lv2 > a {
    line-height: 12px;
    color: #6e8095;
    display: block;
    padding-left: 16px;
    background: url(../image/wenjian.png) no-repeat; 
     background-position: 0px 0px;
}
#list .list-more .list-lv2.on {
   margin: 6px 0; 
}
#list .list-more .list-lv2.on > a {
    color: #fff;
}
#right{
	/*width: 1300px;*/
	height: 1211px;
	position: relative;
	margin-left: 260px;
	background: #eeeeed;
}
#resource{
	height: 35px;
	background: #ffffff;
}
#search{
	width: 890px;
	height: 86px;
	position: absolute;
	margin-top: 18px;
	margin-left: 60px;
	color: #969183;
	font-size: 12px;
	font-weight: bold;
	background: #ffffff;
}
#search-top{
	position: absolute;
	margin-top: 10px;
	margin-left: 30px;
}
#search-one,#search-four,#search-six{
	width: 70px;
}
#search-two,#search-three,#search-five{
	width: 120px;
}
#search-buttom{
	position: absolute;
	margin-top: 55px;
	margin-left: 192px;
}
#search-seven{
	width: 111px;
}
#search #sumbit{
	text-align: center;
	position: absolute;
	margin-left: 710px;
	margin-top: 30px;
	width: 50px;
	height: 25px;
	background: #388ac1;
	font-size: 12px;
	color: #ffffff;
} 
#roll{
	width: 890px;
	height: 64px;
	position: absolute;
	margin-top: 120px;
	margin-left: 60px;
	/*background: pink;*/
}
#roll .swiper-btn {
    float: left;
    width: 29px;
    height: 64px;
    border: 1px solid #dadcde;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); 
}
#roll .swiper-btn.left {
    background: url(../image/left.png) no-repeat center #fff;
    margin-right: 2px; 
}
#roll .swiper-btn.right {
    background: url(../image/right.png) no-repeat center #fff;
    margin-left: 2px; 
}
#roll .timeline {
    float: left; 
}
#roll .timeline .time-bar {
    float: left;
    width: 109px;
    height: 51px;
    border: 1px solid #d7d9dc;
    background: #fff;
    margin: 0 2px;
    padding-top: 13px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
#roll .timeline .time-bar.on:before, .content .content-box .history-search .timeline .time-bar:hover:before {
    width: 111px;
    height: 3px;
    background: #4388c8;
    display: block;
    content: '';
    position: absolute;
    left: -1px;
    top: 0; 
}
#roll .timeline .time-bar .clock-time {
    color: #323333;
    font-size: 12px; 
}
#roll .timeline .time-bar .money {
    margin-top: 9px;
    font-size: 21px;
    color: #ec6500; 
}
#roll .timeline .time-bar .money .money-icon {
    font-style: normal;
    color: #ababab;
    font-size: 14px; 
}
#roll .bttn{
	
	position: absolute;
	margin-left: 763px;
	margin-top: 1px;
	width: 127px;
	height: 64px;
	background: url(../image/serach.png) no-repeat;
}
#roll .bttn a{
    font-size: 12px;
	font-family: "微软雅黑", "Microsoft YaHei";
	position: absolute;
	color: #7e7876;
	margin-top: 26px;
	margin-left: 62px;
   
}
#statistics{
	width: 890px;
	height: 85px;
	position: absolute;
	margin-top: 210px;
	margin-left: 60px;
	/*background: pink;*/
}
#statistics .statistics-title{
    
	font-size: 12px;
	font-family: "微软雅黑", "Microsoft YaHei";
}
#statistics-total .total{
	width: 200px;
	height: 70px;
}
#statistics-total .statistics-one{
	width: 200px;
	height: 70px;
	background: #ffffff;
	float: left;
}
#statistics-total .statistics-one .total-blok{
	width: 60px;
	height: 45px;
	position: absolute;
	margin-top: 15px;
	margin-left: 124px;
	background: #43b29e;
}
#statistics-total .statistics-two{
	width: 200px;
	height: 70px;
	position: absolute;
	margin-left: 231px;
	float: left;
	background: #ffffff; 
}
#statistics-total .statistics-two .total-blok{
	width: 60px;
	height: 45px;
    position: absolute;
    margin-top: 15px;
    margin-left: 124px;
	background: #388ac1;
}
#statistics-total .statistics-three{
	width: 200px;
	height: 70px;
	position: absolute;
	margin-left: 460px;
	float: left;
	background: #ffffff;
}
#statistics-total .statistics-three .total-blok{
	width: 60px;
	height: 45px;
	position: absolute;
	margin-top: 15px;
	margin-left: 124px;
	background: #d04a36;
}
#statistics-total .statistics-four{
	width: 200px;
	height: 70px;
	position: absolute;
	margin-left: 688px;
	float: left;
	background: #ffffff;
}
#statistics-total .statistics-four .total-blok{
	width: 60px;
	height: 45px;
	position: absolute;
	margin-top: 15px;
	margin-left: 124px;
	background: #e2cd46;
}
#statistics-total .total p{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-family: "微软雅黑", "Microsoft YaHei";
}
#statistics-total .total .total-much{
	position: absolute;
	margin-top: 20px;
	margin-left: 12px;
}
#statistics-total .total .total-shu{
	position: absolute;
	margin-top: 43px;
	margin-left: 12px;
}
#project{
	width: 890px;
	height: 358px;
	position: absolute;
	margin-top: 310px;
	margin-left: 60px;
}
#proiect-one{
	width: 530px;
	height: 358px;
	float: left;
	position: relative;
	border-radius: 5px;
    border: 1px solid #cfd2d5;
	/*background: yellow;*/
}
#project-one h2{
	font-size: 12px;
	font-family: "微软雅黑", "Microsoft YaHei";
	width: 530px;
	height: 40px;
	line-height: 40px;
    background: #f4f5f6;

}
#project-one .project-radios{

}
#project-one .project-radios .radios-list li{
	width: 84px;
	height: 26px;
	position: relative;
	margin-top: 14px;
    margin-left: 20px;
	float: left;
	line-height: 26px;
	font-size: 12px;
	font-family: "微软雅黑", "Microsoft YaHei";
}
#project-one .project-radios .radios-list label{
	cursor: pointer;
}
#project-one .project-radios .list-box .project-content{
	width: 488px;
    height: 250px;
    border: 1px solid #cbcbcb;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#project-one .project-radios .list-box input[type=radio]{
	display: none;

}
#project-one .project-radios .list-box input[type=radio]:checked + div{
	display: block;

}
#project-one .project-radios .radios-list .btn{
	width: 81px;
    height: 19px;
    display: block;
    background: #ececef;
    border: 1px solid #f2f2f4;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    margin-right: 5px;
    text-align: center;
    padding-top: 7px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#project-one .project-radios .radios-list .btn .on{
	background: #fff;
    border-color: #cacbcb;
    height: 20px;
}
#project-one .project-radios .radios-list .btn .on label {
    width: 81px;
    height: 22px;
    display: block;
    background: #fff; 
}
#project-one .project-radios .list-box .project-content{
    width: 488px;
    height: 250px;
    position: absolute;
    margin-top: 20px;
    
}
#project-one .project-radios .list-box .project-content table{
	width: 401px;
    height: 183px;
    border: 1px solid #dddede;
    margin-top: 28px;
    margin-left: 36px;
    border-collapse: collapse;
    cursor: pointer;
}
#project-one .project-radios .list-box .project-content table td{
	text-align: center;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    font-size: 12px;
    color: #535353;
}
#project-one .project-radios .list-box .project-content table td:hover{
	background: #f4f5f6;
}
#one-title{
	width: 350px;
	height: 358px;
	position: absolute;
	margin-left: 540px;
	margin-top: -80px;
	border-radius: 5px;
    border: 1px solid #cfd2d5;
	/*background: #e2cd46;*/
}
#one-title .table-box {
        padding-left: 35px;
        padding-right: 35px; 
 }
#one-title .table-tit {
        height: 45px;
        border-bottom: 1px solid #e7e7e7;
        padding-left: 15px; }
#one-title .sml-tag {
        font-size: 12px;
        color: #c3c2c2;
        margin-bottom: 7px; }
#one-title .sml-tit {
        font-weight: normal;
        color: #535353;
        font-size: 12px; }
#one-title .table-desc {
        border-bottom: 1px solid #e7e7e7;
        height: 43px; }
#one-title .desc-price {
        float: left;
        width: 80px;
        height: 43px;
        padding-left: 13px;
        border-right: 1px solid #e7e7e7; }
#one-title .desc-name {
        height: 43px;
        padding-left: 11px;
        float: left; }
#one-title .table-detail {
        padding-top: 4px;
        padding-left: 14px;
        height: 140px;
        border-bottom: 1px solid #e7e7e7; }
#one-title .table-search .apply {
        margin-top: 10px;
        font-size: 12px;
        color: #c3c2c2;
        float: left;
        cursor: pointer; }
#one-title .table-search .apply .checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #d5d5d5;
    position: relative;
          left: 0;
          top: 2px;
          margin-right: 8px;
          cursor: pointer; }
#one-title .table-search .apply .checkbox.check {
        background: url(../image/gou.png) no-repeat center #d5d5d5; 
}
#one-title .table-search .search-btn {
    width: 50px;
    height: 25px;
    float: right;
    background: #388ac1;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 2px;
    margin-top: 6px;
    cursor: pointer; 
}
#buttom{
	width: 890px;
	height: 355px;
	position: absolute;
	margin-top: 685px;
	margin-left: 60px;
}
#date{
	width: 349px;
	height: 355px;
	float: left;
	border-radius: 5px;
    border: 1px solid #cfd2d5;
    background: #ffffff;
}
#date h2{
	width: 350px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	background: #f4f5f6;
	font-family: "微软雅黑", "Microsoft YaHei";
}
#date .data-handler {
    padding-left: 20px;
    margin-bottom: 10px; 
}
#date .date-table {
    width: 310px;
    margin-left: 20px; 
}
#date .date-table.head {
    border-top: 1px solid #a9cfec;
    border-bottom: 1px solid #e1e1e2; 
}
#date .date-table thead th {
    height: 29px;
    font-weight: normal;
    border-collapse: collapse; 
}
#date .date-table .mid-bar {
    width: 100%;
    height: 1px;
    display: block;
    border-top: 1px solid #e1e1e2; 
}
#date .date-table tbody td {
    text-align: center;
    width: 39px;
    height: 39px;
    font-size: 12px;
    border: 1px solid transparent; 
}
#date .date-table tbody td:hover {
    border: 1px solid #f4c21d; 
}
#date .date-table tbody td p {
    margin-top: 5px; 
}
#date .date-table tbody td p.holiday {
    color: #cd3539; 
}
#date .date-table tbody td:nth-child(5), .content .content-box .detail-data .columns.date .date-table tbody td:nth-child(6), .content .content-box .detail-data .columns.date .date-table tbody td:nth-child(7) {
    color: #cd3539; 
}
#date .date-table tbody td:nth-child(5) > p, .content .content-box .detail-data .columns.date .date-table tbody td:nth-child(6) > p, .content .content-box .detail-data .columns.date .date-table tbody td:nth-child(7) > p {
    color: #494949; 
}
#date .date-table tbody td:nth-child(5) > p.holiday, .content .content-box .detail-data .columns.date .date-table tbody td:nth-child(6) > p.holiday, .content .content-box .detail-data .columns.date .date-table tbody td:nth-child(7) > p.holiday {
    color: #cd3539; 
}
#date .date-today {
    width: 60px;
    height: 18px;
    float: left;
    border: none;
    box-sizing: content-box;
    background: #fff;
    border: 1px solid #c4c5c5;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
}
#date .row-cont {
    float: left;
    width: 68px;
    height: 23px;
    border: 1px solid #c3c3c4;
    line-height: 20px;
    font-size: 12px;
    color: #323333;
    cursor: default;
    position: relative;
    left: 0;
    top: 0; 
}
#date .row-cont .options-list {
    top: 20px; 
}
#date .row-cont.year {
    width: 62px;
    height: 20px;
    text-indent: 2px;
    margin-right: 6px; 
}
#date .row-cont.year .options-list li {
    padding-left: 0; 
}
#date .row-cont.month {
    width: 83px;
    height: 20px;
    text-indent: 18px;
    margin-right: 6px; 
}
#date .row-cont.month .options-list li {
    padding-left: 0; 
}
#date .row-cont.day {
    width: 73px;
    height: 20px;
    text-indent: 4px;
    margin-right: 6px; 
}
#date .row-cont.day .options-list li {
    padding-left: 0; 
}
#date .row-cont .show-icon {
    width: 19px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
     
}
#date .options-list {
    width: 100%;
    position: absolute;
    left: -1px;
    top: 24px;
    background: #fff;
    border: 1px solid #c3c3c4;
    border-top: none;
    line-height: 23px;
    display: none;
    z-index: 100; 
}
#date .options-list .option {
    padding-left: 10px; 
}
#date .options-list .option:hover {
    background: deepskyblue;
    color: #fff; 
}
#car{
	width: 531px;
	height: 355px;
	position: absolute;
	margin-left: 360px;
	border-radius: 5px;
    border: 1px solid #cfd2d5;
	/*background: blue;*/
}  
#car .rank-table {
    margin-top: 6px;
    margin-left: 40px;
    border: 1px solid #cacbcb;
    width: 448px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 2px; 
    background: #ffffff;
}
#car .rank-table th, .content .content-box .detail-data .columns.rank .rank-table td {
    line-height: 26px;
    border: 1px solid #c3c4c4; 
}
#car .rank-table tbody tr:hover {
    background: #f4f5f6; 
}
#car .rank-table .rank-scale {
    text-align: left;
    text-indent: 30px; 
}
#car .rank-table .rank-bar {
    text-align: left; 
}
#car .rank-table .rank-bar .bar-num {
    margin-left: 26px;
    margin-right: 20px;
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #323333; }
#car .rank-table .rank-bar .full-bar {
    float: left;
    width: 168px;
    height: 4px;
    background: #dcdcdc;
    display: inline-block;
    margin-top: 12px; 
}
#car .rank-table .rank-bar .full-bar .sub-bar {
    height: 100%;
    display: block; 
}
#car .rank-table .rank-bar .full-bar .sub-bar.red {
    background: #ed6e52; 
}
#car .rank-table .rank-bar .full-bar .sub-bar.red2 {
    background: #ef8150; 
}
#car .rank-table .rank-bar .full-bar .sub-bar.red3 {
    background: #f29f4f; 
}
#car .rank-table .rank-bar .full-bar .sub-bar.blue {
    background: #7ecaf0; 
}

