*{
	padding: 0;
	margin: 0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
    border: 0;
}
#radio{
	width: 800px;
	height: 40px;
	margin: 0 auto;
	position: relative;
	/*background: red;*/
}
#radio-1{
	width: 200px;
	height: 40px;
	/*background: pink;*/
	font-size: 28px;
}
#radio-2{
	width: 200px;
	height: 40px;
	position: absolute;
	margin-left: 400px;
	margin-top: -40px;
	font-size: 28px;
	/*background: yellow;*/
}
#list{
	width: 800px;
	margin: 0 auto;
	height: 500px;
	position: relative;
	/*background: red;*/
}
#schoolList{
	position: absolute;
	margin-left:50px;
	margin-top: 30px;
	/*background: red;*/
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}